<div class="w-100 h-100 my-5" >
    <div id="color"
      class="row justify-content-center align-content-center m-auto w-75 mt-5 p-5 shadow">
      <div id="margen" class="col-7 justify-content-center align-items-center">
        <h1 class="p-2">The Nest Favorite Place Eat And Drink Whith Friendly Price</h1>
        <p class="p-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla ut
          voluptates quas molestias asperiores eius, labore tempore dolores
          accusantium, earum fugit ullam, quisquam non inventore. Officiis, beatae.
          Pariatur, nihil hic!
        </p>
        <div class="row row-gap-3 w-50 p-2 ">
            <i class="bi bi-facebook col-1"></i>
            <i class="bi bi-twitter col-1"></i>
            <i class="bi bi-instagram col-1"></i>
            <i class="bi bi-youtube col-1"></i>
            <i class="bi bi-linkedin col-1"></i>
        </div>
      </div>
      <div class="col-5">
        <img class="mx-auto d-block img-fluid position-relative" src="pizza.png" alt="" >
      </div>
    </div>
  </div>