<div class="slide-down position-absolute notification-container bg-white rounded-3 shadow-sm">
  <div class="message-container row row-cols-3  text-center justify-content-center align-items-center">
    <!-- Icono de Calendario -->
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-calendar-check"></i>
        <p class="text-bg-dark small mb-0">Calendario</p>
      </div>
    <!-- Icono de Correo -->    
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-envelope-open text-success"></i>
        <p class="text-bg-dark small mb-0">Correo</p>
      </div>
    <!-- Icono de Clima -->    
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-cloud text-danger"></i>
        <p class="text-bg-dark small mb-0">Clima</p>
      </div>    
    <!-- Icono de Contacto -->    
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-file-person-fill"></i>
        <p class="text-bg-dark small mb-0">Contacto</p>
      </div>    
    <!-- Icono de Chat -->    
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-chat-left text-warning"></i>
        <p class="text-bg-dark small mb-0">Chat</p>
      </div>   
    <!-- Icono de Mapa -->   
      <div class="col d-flex flex-column align-items-center px-0">
        <i class="bi bi-map-fill text-danger"></i>
        <p class="text-bg-dark small mb-0">Mapa</p>
      </div>  
  </div>

  <div class="pb-2 border-top mt-3 pt-1">
    <p class="mb-0 text-center text-muted small">Más</p>
  </div>
</div>
