<div class="slide-down position-absolute notification-container rounded-3 shadow-sm">
    <div class="message-container">
      <!-- Icono de Calendar -->
        <div class="icon-item d-flex justify-content-between align-items-cente px-2">
          <p class="text-bg-dark small mb-0">Perfil</p>
          <i class="bi bi-person-fill me-2 text-muted "></i>
        </div>
      <!-- Icono de Mi Balance -->
        <div class="icon-item d-flex justify-content-between px-2">
          <p class="text-bg-dark small mb-0">Mi Balance</p>
          <i class="bi bi-credit-card-fill me-2 text-muted"></i>
        </div>
      <!-- Icono de mensajes -->
        <div class="icon-item d-flex justify-content-between px-2">
          <p class="text-bg-dark small mb-0">Mensajes</p>
          <i class="bi bi-envelope-open-fill me-2 text-muted"></i>
        </div>
      <!-- Icono de Ajustes -->
        <div class="icon-item d-flex justify-content-between px-2">
          <p class="text-bg-dark small mb-0">Ajustes</p>
          <i class="bi bi-gear-fill me-2 text-muted"></i>
        </div>
      <!-- Icono de Disponibilidad -->
        <div class="icon-item d-flex justify-content-between px-2 border border-start-0 border-end-0 my-3">
          <p class="text-bg-dark small mb-0">Disponibilidad</p>
          <i class="bi bi-check2 me-2 text-success"></i>
        </div>
      <!-- Icono de Cerrar Sesión -->
        <div class="icon-item d-flex justify-content-between px-2 mb-2">
          <p class="text-bg-dark small mb-0">Cerrar Sesión</p>
          <i class="bi bi-power me-2"></i>
        </div>
    </div>
  </div>