@media (min-width: 870px) {
  #button-add{
    display: none;
  }
  #button-compra{
    background-color: #F1C40F;
  }

  #button-compra-plus{
    background-color: #F1C40F;
    display: none;
  }
  
}

@media (max-width: 870px) {
  #button-add {
    width: 40px;
    height: 37px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
  }

  #button-addProduct {
    display: none;
  }

  #button-add i {
    color: white;
  }

  #button-add span {
    display: none;
  }
  #button-update {
    width: 20px;
    height: 37px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  #button-compra{
    background-color: #F1C40F;
    display: none;
  }
}

@media (max-width: 870px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .search-container {
    width: 100%;
    margin-top: 10px;
  }

  .album .row {
    row-gap: 15px;
  }

  .col {
    display: flex;
    justify-content: center;
  }

  #cards {
    width: 100%;
    max-width: 300px;
  }
  #button-compra{
    background-color: #F1C40F;
  }
  #button-compra-plus{
    background-color: #F1C40F;
  }
  
}
#button-update {
  background-color:#de283b;
  width: 25px;
  height: 25px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}