<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center">
    <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <div class="h-100 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">
          <div class="text-end">
            <span>Visit by Traffic Types</span>
          </div>
          <div>
            <app-graphic-primera-cja></app-graphic-primera-cja>
          </div>
          <div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-12 order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
      <div class=" border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">


        <div class="w-100 text-center h6">
          <span>customer satisfaction</span>
        </div>
        <div class="w-100 text-center h3 mt-3 mb-2 fw-bold text-primary">
          <span>75.50%</span>
        </div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
        </div>
        <div class="stats-satisfaction-container justify-content-center mt-3 text-center">
          <div class="d-grid">
            <span class=" text-muted">Trend</span>
            <i class="bi bi-graph-up-arrow fs-3 text-primary"></i>
          </div>
          <div class="d-grid">
            <span class=" text-muted">Change%</span>
            <span class="fw-medium">14.29+</span>
          </div>
          <div class="d-grid">
            <span class=" text-muted">Previous</span>
            <span class="fw-medium">75.5</span>
          </div>
        </div>

        
      </div>
      <div class=" border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">Segunda caja</div>
    </div>
    <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <div class="h-100 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">
          <div class="text-end form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <span>user statistics</span>
          </div>
          <div class="mt-4" style="height: 400px">
            <app-graphic-tercera-caja></app-graphic-tercera-caja>
          </div>
        </div>
    </div>
</div>

  <div class="row px-4 position-relative mb-3 py-3 column-gap-xl-5 row-gap-2 justify-content-center">
    <div class="col-xl-4 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <div class="h-100 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">
          <div class="mt-4" style="height: 250px">
            <app-graphic-cuarta-caja></app-graphic-cuarta-caja>
          </div>
        </div>
    </div>
    <div class="col-xl-7 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <div class="h-100 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm my-1">
          <div class="text-end">
            <span>social campaigns</span>
          </div>
          <div>
            <app-graphic-quinta-caja></app-graphic-quinta-caja>
          </div>
        </div>
    </div>
  </div>