<div class="img-perfil position-relative w-100">
    <img class="img-fluid rounded-5" src="fondo5.jpg" alt="">
</div>
<div class="perfil position-relative w-50">
    <div class="perfil-card w-100">
        <div class="perfil-body">
            <div class="avatar">
                <img class="img-perfil rounded-circle" src="cuchurrufleto2.jpg" alt="">
                <span></span>
            </div>
            <div class="name h5 align-items-center">
                Cuchurrufleto
                <i class="icon-perfil bi bi-check-circle-fill"></i>
            </div>
            <p class="descripcion"></p>
            <ul class="list-profile">
                <li class=" profesion">
                    <i class="bi bi-briefcase"></i>
                    <span class="px-2">Programador</span>
                </li>
                <li class=" direccion">
                    <i class="bi bi-geo-alt"></i>
                    <span class="px-1">Madrid</span>
                </li>
            </ul>
        </div>
    </div>
</div>