<div class="img-perfil position-relative w-100">
    <img class="img-fluid rounded-5" src="uno.avif" alt="">
</div>
<div class="perfil position-relative w-50">
    <div class="perfil-card w-100">
        <div class="perfil-body" *ngIf="userInfo">
            <div class="avatar">
                <img class="img-perfil rounded-circle" src="perfil1.webp" alt="">
                <span></span>
            </div>
            <div class="name h5 align-items-baseline">
                {{ userInfo.firstName }} {{ userInfo.lastName }}
                <i class="icon-perfil bi bi-check-circle-fill"></i>
            </div>
            <ul class="list-profile mt-4 ms-2">
                <li class=" profesion">
                    <i class="bi bi-clock"></i>
                    <span class="px-2">{{ userInfo.createdAt}}</span>
                </li>
                <li class=" direccion">
                    <i class="bi bi-geo-alt"></i>
                    <span class="px-1">{{ userInfo.address }}</span>
                </li>
            </ul>
            <button class="btn btn-primary ms-4 mt-3"  (click)="openChangePasswordPopup()">Cambiar Contraseña</button>
        </div>
    </div>
</div>
<app-tab-perfil-header class="header-perfil"></app-tab-perfil-header>