<div class="settings-container position-fixed slide-right-to-left shadow-sm border-end border-light-subtle z-3">
    <div class="overflow-y-auto w-100 h-100 py-3">
        <p>settings works</p>
        <button type="button" class="btn boton1">Primer Elemento</button>
        <button type="button" class="btn boton2">Segundo Elemento</button>
        <button type="button" class="btn boton3">
            <span>Tercer Elemento</span>
            <i class="icon-sidebar bi bi-house-fill text-end m-0"></i>
        </button>
        <button type="button" class="btn boton4">Cuarto Elemento</button>
        <button type="button" class="btn boton5">Quinto Elemento</button>
        <button type="button" class="btn boton6">Sexto Elemento</button>
    </div>
</div>