<header class="align-items-center bg-dark position-sticky top-0 px-4 m-auto z-3">
    <ul class="d-flex flex-row flex-nowrap align-items-center pe-none">
        <li class="nav-item align-items-center">
            <a class="nav-link text-white text-decoration-none py-2 px-4" rel="noopener" href="">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-decoration-none py-2 px-4" rel="noopener" href="">Configuraciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-decoration-none py-2 px-4" rel="noopener" href="">Subscripciones</a>
        </li>
    </ul>
</header>