<header class="bg-dark row g-0 position-sticky top-0 z-3 py-2">
  <!-- Logo -->
  <div class="col-12 col-md-6 text-center text-md-start">
    <a class="text-decoration-none d-block" rel="noopener">
      <img class="mx-5" style="max-width: 115px" src="/logo.svg" alt="logo">
    </a>
  </div>

  
  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
    <nav class="d-flex flex-column flex-md-row align-items-center w-100 justify-content-center">
      <a class="text-white text-decoration-none py-2 px-4" rel="noopener" routerLink="">Inicio</a>
      <a type="button" class="text-white text-decoration-none py-2 px-4" rel="noopener" routerLink="/tienda">Tienda</a>
      <a class="text-white text-decoration-none py-2 px-4" rel="noopener"><i class="bi bi-cart"></i></a>

      
      <button *ngIf="!isLoggedIn" type="button" class="btn btn-white text-decoration-none py-1 px-3 mt-2 mt-md-0" routerLink="/login">
        <i class="bi bi-person"></i> Iniciar sesión
      </button>

      <button type="button" class="btn btn-white text-decoration-none py-1 px-3 mx-4 mt-2 mt-md-0" routerLink="/app/control-panel">Back Office</button>

      
      <button *ngIf="isLoggedIn" type="button" class="btn btn-white text-decoration-none py-1 px-3 mt-2 mt-md-0" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
      </button>
    </nav>
  </div>
</header>

