<div class="container w-100 d-flex justify-content-end h-100 mt-5 ">
  <div class="border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <h4>Politica de privacidad</h4>
    <br />
    <h6>1. INTRODUCCIÓN</h6>
    <p>
      En ventaAlimentacion, nos comprometemos a proteger la privacidad de
      nuestros clientes. Esta Política de Privacidad explica cómo recopilamos,
      utilizamos y protegemos la información personal de nuestros usuarios
      cuando visitan nuestro sitio web miweb.com y realizan compras de
      nuestros productos alimentarios.
    </p>
    <br>
    <h6>2. INFORMACIÓN QUE RECOPILAMOS</h6>
    <br>
    <p>Podemos recopilar los siguientes datos personales:</p>
    <ul>
        <li>Nombre y apellidos</li>
        <li>Dirección de correo electrónico</li>
        <li>Dirección de envío y facturación</li>
        <li>Número de teléfono</li>
        <li>Información de pago (procesada de manera segura por terceros)</li>
        <li>Historial de compras y preferencias</li>
        <li>Datos de navegación (dirección IP, tipo de dispositivo, cookies y tecnologías similares)</li>

    </ul>
  </div>
</div>
