<div class="container w-100 d-flex justify-content-center mt-5">
  <div class="col-md-8">
    <!-- Política de Privacidad -->
    <div class="border border-light-subtle position-relative rounded-3 py-4 px-4 bg-white shadow-sm mb-5">
      <h4 class="text-center text-primary mb-4">Política de Privacidad</h4>
      <h6>1. INTRODUCCIÓN</h6>
      <p>
        En ventaAlimentacion, nos comprometemos a proteger la privacidad de nuestros clientes. Esta Política de Privacidad explica cómo recopilamos, utilizamos y protegemos la información personal de nuestros usuarios cuando visitan nuestro sitio web miweb.com y realizan compras de nuestros productos alimentarios. Al utilizar nuestro sitio web, usted acepta esta política y consiente la recopilación y uso de su información personal de acuerdo con los términos establecidos aquí.
      </p>

      <h6>2. INFORMACIÓN QUE RECOPILAMOS</h6>
      <p>Podemos recopilar los siguientes datos personales:</p>
      <ul>
        <li>Nombre y apellidos</li>
        <li>Dirección de correo electrónico</li>
        <li>Dirección de envío y facturación</li>
        <li>Número de teléfono</li>
        <li>Información de pago (procesada de manera segura por terceros)</li>
        <li>Historial de compras y preferencias</li>
        <li>Datos de navegación (dirección IP, tipo de dispositivo, cookies y tecnologías similares)</li>
      </ul>

      <h6>3. USO DE LA INFORMACIÓN</h6>
      <div>
        Utilizamos la información recopilada para:
        <ul>
          <li>Procesar y gestionar sus compras.</li>
          <li>Enviarle actualizaciones sobre sus pedidos y productos.</li>
          <li>Mejorar la funcionalidad del sitio web.</li>
          <li>Personalizar su experiencia en nuestra plataforma.</li>
          <li>Enviar comunicaciones promocionales, solo si ha dado su consentimiento.</li>
        </ul>
      </div>
      <h6>4. SEGURIDAD DE LA INFORMACIÓN</h6>
      <p>
        Tomamos medidas razonables para proteger la información personal de nuestros usuarios. Utilizamos tecnologías de encriptación para proteger sus datos durante la transmisión y almacenamos la información en servidores seguros. Sin embargo, ninguna transmisión de datos a través de Internet puede garantizarse como 100% segura.
      </p>

      <h6>5. COOKIES Y TECNOLOGÍAS SIMILARES</h6>
      <p>
        Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en su dispositivo y permiten personalizar su experiencia y realizar un seguimiento de las preferencias de navegación.
      </p>

      <h6>6. CAMBIOS A ESTA POLÍTICA</h6>
      <p>
        Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio se publicará en esta página con una fecha de revisión actualizada. Le recomendamos que consulte esta política regularmente para estar al tanto de cualquier modificación.
      </p>

      <h6>7. CONTACTO</h6>
      <p>
        Si tiene alguna pregunta sobre nuestra Política de Privacidad, no dude en ponerse en contacto con nosotros a través de nuestro correo electrónico: .
      </p>
    </div>

    <!-- Política de Seguridad -->
    <div class="border border-light-subtle position-relative rounded-3 py-4 px-4 bg-white shadow-sm">
      <h4 class="text-center text-primary mb-4">Política de Seguridad</h4>
      <h6>1. INTRODUCCIÓN</h6>
      <p>
        En ventaAlimentacion, nos comprometemos a garantizar la seguridad de los datos personales y financieros de nuestros usuarios. Esta Política de Seguridad describe las medidas que implementamos para proteger su información y garantizar transacciones seguras en nuestro sitio web.
      </p>

      <h6>2. ENCRIPTACIÓN DE DATOS</h6>
      <p>
        Utilizamos tecnología de encriptación avanzada para garantizar que todos los datos sensibles, como la información de pago y los detalles de la cuenta, se transmitan de forma segura a través de Internet. Esto incluye el uso de SSL (Secure Socket Layer) y otros protocolos de seguridad.
      </p>

      <h6>3. AUTENTICACIÓN Y ACCESO</h6>
      <p>
        Implementamos mecanismos de autenticación de usuarios para garantizar que solo las personas autorizadas puedan acceder a sus cuentas y realizar transacciones. Esto incluye el uso de contraseñas seguras y la autenticación multifactor (MFA) en algunos casos.
      </p>

      <h6>4. MONITOREO DE SEGURIDAD</h6>
      <p>
        Realizamos monitoreo constante de nuestras plataformas para detectar cualquier actividad sospechosa o intento de acceso no autorizado. Si detectamos cualquier vulnerabilidad, tomamos medidas inmediatas para mitigar los riesgos y proteger la información de nuestros usuarios.
      </p>

      <h6>5. PROTECCIÓN CONTRA FRAUDE</h6>
      <p>
        Implementamos tecnologías y procedimientos para prevenir fraudes y actividades maliciosas en nuestro sitio web. Esto incluye el uso de sistemas de detección de fraudes, validación de transacciones y verificación de identidad.
      </p>

      <h6>6. OBLIGACIONES DEL USUARIO</h6>
      <p>
        Los usuarios también tienen un papel importante en la seguridad de sus datos. Es su responsabilidad mantener la confidencialidad de sus credenciales de acceso y utilizar contraseñas seguras. También deben notificar inmediatamente cualquier actividad sospechosa en sus cuentas.
      </p>

      <h6>7. CAMBIOS EN LA POLÍTICA DE SEGURIDAD</h6>
      <p>
        Nos reservamos el derecho de actualizar esta Política de Seguridad en cualquier momento para adaptarnos a nuevos desarrollos tecnológicos y mejores prácticas. Cualquier cambio se publicará en esta página.
      </p>

      <h6>8. CONTACTO</h6>
      <p>
        Si tiene preguntas o inquietudes sobre nuestra Política de Seguridad, puede ponerse en contacto con nosotros en: <strong></strong>.
      </p>
    </div>
  </div>
</div>
